body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0;
    background-image: linear-gradient(to right, #000000, #3D0000);
}


.Hero {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://scontent.flhr1-1.fna.fbcdn.net/v/t39.30808-6/271894709_369413858497409_6981754242900313214_n.jpg?_nc_cat=107&ccb=1-7&_nc_sid=e3f864&_nc_ohc=cpEfi2QLATwAX8q5-1b&tn=Huo69fkc65LYWzcO&_nc_ht=scontent.flhr1-1.fna&oh=00_AfDWWVh5WjnN5SZb0HuruvIMUfpz2FcKEFF9S13uKIf2Fw&oe=63C79C92");
  height: 1000px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
}


.logo {
    height: 50px;
    border-radius: 50px;
}

.title {
    margin: 100px auto 100px auto;
    font-size: 50px;
}

.bio {
    margin: 0 auto 100px auto;
    font-size: 20px;
}


.banner {
    text-align: center;
    position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.hire-us {
    border: none;
    outline: none;
    padding: 10px 10px 10px 10px;
    border-radius: 25px;
    background: #ddd;
    text-align: center;
    cursor: pointer;
}

.btn {
    background: #000000;
    background-image: -webkit-linear-gradient(top, #000000, #7a0d16);
    background-image: -moz-linear-gradient(top, #000000, #7a0d16);
    background-image: -ms-linear-gradient(top, #000000, #7a0d16);
    background-image: -o-linear-gradient(top, #000000, #7a0d16);
    background-image: linear-gradient(to bottom, #000000, #7a0d16);
    -webkit-border-radius: 26;
    -moz-border-radius: 26;
    border-radius: 26px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 7px 29px 7px 29px;
    text-decoration: none;
    margin: 200px auto 0 auto;
  }
  
  .btn:hover {
    background: #949494;
    background-image: -webkit-linear-gradient(top, #949494, #991414);
    background-image: -moz-linear-gradient(top, #949494, #991414);
    background-image: -ms-linear-gradient(top, #949494, #991414);
    background-image: -o-linear-gradient(top, #949494, #991414);
    background-image: linear-gradient(to bottom, #949494, #991414);
    text-decoration: none;
  }

.out-now {
    text-align: center;
    font-weight: 1000;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: oblique;
    color: white;
    margin: 100px;
}

.single-img {
    height: 500px;
    margin-left: auto;
    margin-right: auto;
    display: block;

}

.youtube-vid {
    height: 600px;
    width: 900px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin: 30px auto 30px auto;
    border-radius: 20px;
}

.listen {
    color: white;
    text-align: center;
    font-weight: 500;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    margin: 100px auto 50px auto;
}

.social-media {
    height: 200px;
    width: 200px;
    display: block;
    margin: 75px auto 100px auto;
   
    
}
